<div class="container1">
    <div class="d1"></div>
        </div>
      <div class="container2">
        <div class="d2"></div>
         </div>
      <div class="container3">
    <div class="d3"></div>
        </div>
      <div class="container4">
        <div class="d4"></div>
         </div>
        <div class="container5">
        <div class="d5"></div>
         </div>
        <div class="container6">
        <div class="d6"></div>
         </div>
      <div class="container7">
        <div class="d7"></div>
         </div>