<html>
  <head>
    <title>{{ response["openweathermap"]["name"] | capitalize }}</title>

      {% if response["openweathermap"]["weather"] == "Snow" %}
        {% include 'style_snow.html' %}

      {% elif response["openweathermap"]["weather"] == "Rain" or response["openweathermap"]["weather"] == "Drizzle" %}
        {% include 'style_rain.html' %}

      {% elif response["openweathermap"]["weather"] == "Thunderstorm" %}
        {% include 'style_thunderstorm.html' %}

      {% else %}
        {% include 'style_clouds.html' %}
        
      {% endif %}
  
<div class="text-container">
  

  {% for item in response["openweathermap"] %}
    {% if item != 'source' %}
      <h2>{{ item | capitalize }}: {{ response["openweathermap"][item] }}</h2>
    {% else %}
     <h2>{{ item | capitalize }}: </h2> <a href= 'https://openweathermap.org/api'><h2>{{ response["openweathermap"][item] }}</h2></a>
    {% endif %}
  {% endfor %}
</div>

<div class="text-container">
  {% for item in response["weatherbit"] %}
    {% if item != 'source' %}
      <h2>{{ item | capitalize }}: {{ response["weatherbit"][item] }}</h2>
    {% else %}
      <h2>{{ item | capitalize }}: </h2> <a href='https://www.weatherbit.io/'><h2>{{ response["weatherbit"][item] }}</h2></a>
    {% endif %}
  {% endfor %}
</div>

{% include "style_raindrops.html" %}
</body>
</html>